<a href="https://colab.research.google.com/github/Rishi6534/Rishi6534/blob/main/Python_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# program to add 2 numbers

a = int(input("enter first number:"))
b = int(input("enter second number:"))
sum = a+b
print("the sum of of 2 numbers a and b is :" , sum)

enter first number:12
enter second number:13
the sum of of 2 numbers a and b is : 25

In [ ]:
# program to find remainder and division
a = 12
b= 4
print(a//b)
print(a/b)
print(a%b)

3
3.0
0

In [ ]:
# program for type casting and knowing datatype

a=12 #check for indentation errors properly
b=23.8
c="rishi"
d =''' "hello" reddy'''
e ="123"
f = int(e) #print(type(a)print(b)
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
# using comparision between a = 30 and b =40

a = 30
b=40
c = 'hello'
d="rishi"
f ="rishi"
print(a>b,a<b,a>=b,a<=b,a==b,f==d,c==d)

False True False True False True False

In [ ]:
#program for average of 2 numbers
a = int(input("enter the number 1:")) # type casting is done as input function alawys takes string input
b = int(input("enter the number 2:"))
_avg = (a+b)/2
print("avg of 2 numbers is:",_avg)

enter the number 1:25
enter the number 2:75
avg of 2 numbers is: 50.0

In [ ]:
# to calculate square of a number entered by the user
num = int(input("enter the number to be squared:"))
squared_num = num*num
print("the square of given number is",squared_num)

enter the number to be squared:5
the square of given number is 25

In [ ]:
#string concatenation
a = 'hello'
b = 'reddy'
c = "123"
#strings are immutable(not changable)
d="456"
print(a+" "+b)
print(c+d)

hello reddy
123456

In [ ]:
#greeting if your name is entered
name=input("enter your name:")
print("hi!, ",name," hello")
print("hi hello," +name) # string concatination

enter your name:Rishi
hi!,  Rishi  hello
hi hello,Rishi

In [ ]:
# fill the letter template given below with name and date.
'''letter = dear<|name|>,you are selected! <|date|>'''
letter = 'dear <|name|>,you are selected! <|date|>'
#letter.replace("<|name|>","Rishi") ----> this will not replace because tthe updated value
#again must be given to letter variable again
letter = letter.replace("<|name|>","Rishi")
letter =letter.replace("<|date|>","13th feb 2024")
print(letter)

dear Rishi,you are selected! 13th feb 2024

In [ ]:
#program to detect double spaces and replace it with single space
a ="hello dear, rishi kumar  reddy"
print(a.find("  "))#if output is -1 then we say no double space is present in string above
a = a.replace("  "," ")
print(a)
formated_a ="hello dear,\n\t rishi kumar  reddy\nthanks"
print(formated_a)

23
hello dear, rishi kumar reddy
hello dear,
	 rishi kumar  reddy
thanks

In [ ]:
# WAP(write a program) to count the total number of characters in a string
a = "hello world"
print("the total nof characters in the string is:",len(a))

the total nof characters in the string is: 11

In [ ]:
# Lists are mutable and ordered.
# Tuples are immutable.
a =["sane",1,23,23,'hello','sane']
a.count('hello')
print(a)
a = a.count('sane')
print(a)

['sane', 1, 23, 23, 'hello', 'sane']
2

In [ ]:
# WAP to store a seven fruits in a list enterd by the user
a = input("enter fruit 1: ")
b = input("enter fruit 2: ")
c = input("enter fruit 3: ")
d = input("enter fruit 4: ")
e = input("enter fruit 5: ")
f = input("enter fruit 6: ")
g = input("enter fruit 7: ")
mylist =[a,b,c,d,e,f,g]
print(mylist)

enter fruit 1: mango
enter fruit 2: banana
enter fruit 3: apple
enter fruit 4: watermelon
enter fruit 5: jackfruit
enter fruit 6: papaya
enter fruit 7: orange
['mango', 'banana', 'apple', 'watermelon', 'jackfruit', 'papaya', 'orange']

In [ ]:
# WAP to accept the marks of 778 students and display them in a sorted manner
a = int(input("enter student 1 marks: "))
b = int(input("enter student 2 marks: "))
c = int(input("enter student 3 marks: "))
d = int(input("enter student 4 marks: "))
e = int(input("enter student 5 marks: "))
f = int(input("enter student 6 marks: "))
g = int(input("enter student 7 marks: "))
mylist =[a,b,c,d,e,f,g]

mylist.sort()
print(mylist)

enter student 1 marks: 15
enter student 2 marks: 86
enter student 3 marks: 75
enter student 4 marks: 100
enter student 5 marks: 59
enter student 6 marks: 96
enter student 7 marks: 56
[15, 56, 59, 75, 86, 96, 100]

In [ ]:
#check tuple can't be changed in python
a =(1,"sane",23.4,45)
print(a[3])
a[3]= 34
print(a)

45

TypeError: 'tuple' object does not support item assignment

In [ ]:
#to count no of same items in tuple
a=(1,2,45,32,21,32,54,32)
a.count(32)

3

In [ ]:
# wap to sum the lsit of numbers
a =[1,3,5,67,24 ]
print(a[0]+a[1]+a[2]+a[3]+a[4])
print(sum(a)) # this is a function

100
100

In [ ]:
#dictonaries for using (key:value) pair
'''dicts properties:it is unordered
                    it is mutable
                    it is indexed
                    cant contain duplicate keys'''

a ={1:"sane","anotherdict":{"hello world": "rishi"},"list":[1,2,34.4]}
print(a[1])
print(a["anotherdict"]["hello world"])#---->these are nested dictionaries(dict inside dicts)
print(a["list"])
a["helloworld"] = "good morning"
print(a)

sane
rishi
[1, 2, 34.4]
{1: 'sane', 'anotherdict': {'hello world': 'rishi'}, 'list': [1, 2, 34.4], 'helloworld': 'good morning'}

In [ ]:
#create dictionary for hindi-english dictionary transalation and user can access the value by the key entered by the user
my_dict={"pankha":"fan","dabba":"box","vastu":"item"}
print("the names can be chosen from below/n",my_dict.keys())
a =input("enter the hindi name to translate:")

print("the meaning of name entered is",my_dict[a])#we can also use my_dict.get(a) in place of my_dict[a]

the names can be chosen from below/n dict_keys(['pankha', 'dabba', 'vastu'])
enter the hindi name to translate:pankha
the meaning of name entered is fan

In [ ]:
#WAP to input 8 numbers from the user and display all the unique characters
a = int(input("enter no 1:"))
b = int(input("enter no 2:"))
c = int(input("enter no 3:"))
c = int(input("enter no 4:"))
d = int(input("enter no 5:"))
e = int(input("enter no 5:"))
f = int(input("enter no 6:"))
g = int(input("enter no 7:"))
i = int(input("enter no 8:"))
s = {a,b,c,d,e,f,g,i}
print(s)

enter no 1:3
enter no 2:54
enter no 3:54
enter no 4:4
enter no 5:4
enter no 5:6
enter no 6:9
enter no 7:8
enter no 8:9
{3, 4, 6, 8, 9, 54}

In [ ]:
#we can have 18 and '18' as different values in the set
s={18,"18",18.0}#python treat 18,18.0 as same in the set
print(s)
print(len(s))

{18, '18'}
2

In [ ]:
#difference between set and dict
a = {}
b = set()
print(type(a),type(b))

<class 'dict'> <class 'set'>

In [ ]:
#create an empty dictionary and allow four friends to enter their favorite language as values and use keys as their names.assume  names are unique
empty_dict={}

a=input("enter the fav sub of bilvan:")
b=input("enter the fav sub of kruthik:")
c=input("enter the fav sub of himanth:")
d=input("enter the fav sub of rishi:")
empty_dict["bilvan"]=a
empty_dict["kruthik"]=b
empty_dict["himanth"]=c
empty_dict["rishi"]=d
print(empty_dict)

enter the fav sub of bilvan:c language
enter the fav sub of kruthik:python
enter the fav sub of himanth:java
enter the fav sub of rishi:Maths
{'bilvan': 'c language', 'kruthik': 'python', 'himanth': 'java', 'rishi': 'Maths'}

In [ ]:
#program to print if the user is able to vote or not
age = int(input("enter your age:"))
if(age>=18 and age<=80):
  print("you can vote")
elif(age<18):
  print("you can't vote")
else:
  print("none")

enter your age:100
none

In [ ]:
a = None#<<<<-----keyword
b = [12,23,43.3]
if(a is None):
  print("yes")
else:
  print("no")
  print(321 in b)

yes

In [ ]:
#WAp to find greatest of 4 numbers entered by the user
num1=int(input("enter num1:"))
num2=int(input("enter num2:"))
num3=int(input("enter num3:"))
num4=int(input("enter num4:"))
if(num1>num2):
  f1=num1

else:
  f1 = num2

if(num3>num4):
  f2 = num3
else:
  f2 = num4
if(f1>f2):
  print(f1,"is gratest")
else:
  print(f2,"is gratest")

enter num1:45
enter num2:85
enter num3:14
enter num4:203
203 is gratest

In [ ]:
#WAP to write to check weather student is fail or pass some constariants are take marks of 3 subjects as an input and every student
#should get 33% marks in each subject and 40% marks totally.
sub1=int(input("enter marks of mat:"))
sub2=int(input("enter marks of phy:"))
sub3=int(input("enter marks of chy:"))
marks=((sub1+sub2+sub3)/300)*100
if(marks<=40 and (sub1<=33 or sub2<=33 or sub3<=33)):
  print("fail")
else:
  print("pass")

enter marks of mat:45
enter marks of phy:45
enter marks of chy:45
pass

In [ ]:
#program to chek if the given string contains more than 10 characters or not
string = input("enter the string:")
if(len(string)>10):
  print("string has more than 10 languages")
else:
  print("string has less than 10 characters")

enter the string:sane08@sd
string has less than 10 characters

In [ ]:
# If text contains the following words "make a lot of money","buy now","subscribe now" and "click here" then tell to the user as it is a spam
text=input("enter the text:")
spam = False
if("make a lot of money" in text):
  spam=True
elif("buy now" in text):
  spam=True
elif("subscribe now" in text or "click here" in text):
  spam=True

if(spam):
  print("spam")
else:
  print("msg is confidential")

enter the text:please subscribe now to my channel and make a lot of money
spam

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# check weather name is present in the list of names
list=["sane","rishi","kumar","reddy"]
name=input("enter the name:")
if(name in list):
  print(name , " is present in the list")
else:
  print(name,"is not present in the list")

enter the name:sane
sane  is present in the list

In [ ]:
#while loop
i=0
while (i<10):
  print("yes",str(i))
  i += 1

yes 0
yes 1
yes 2
yes 3
yes 4
yes 5
yes 6
yes 7
yes 8
yes 9

In [ ]:
#print list of fruits using while loop
list=["mango","apple","banana","orange"]
i =0
while(i<len(list)):
  print(list[i])
  i+=1

mango
apple
banana
orange

In [ ]:
# print list of fruits using for loop
list=["mango","apple","banana","orange"]
for x in list:
  print(x)
for i in range(1,10):
  print(i)
  if(i==5):
          break

mango
apple
banana
orange
1
2
3
4
5

In [ ]:
#program to print multiplication of table
a =int(input("enter the number to get it's table:\n"))
for i in range(1,11):
  print(str(a)+"x"+str(i)+"="+str(a*i))
  i+=1

enter the number to get it's table:
10
10x1=10
10x2=20
10x3=30
10x4=40
10x5=50
10x6=60
10x7=70
10x8=80
10x9=90
10x10=100

In [ ]:
# wap to greet the person in the list of names that start with "s"
names=["bilvan","sristi","kruthik","himanth","sehari"]
for i in names:
  if(i.startswith("s")):
    print("hello ",i)

hello  sristi
hello  sehari

In [ ]:
# WAP to check weather the given number is prime or not
n = int(input("enter the number:"))
notprime=True
if(n == 0 or n == 1):
  print("neither prime or even")
for i in range(2,n):
   if(n%i == 0):
        notprime=True

if(notprime):
  print("not prime")
else:
  print("prime")

enter the number:23
not prime

In [ ]:
# wap to get fibonacci series(0,1,1,2,3,5,8,13....)
n1=0
n2=1
a =int(input("enter the number :"))
if(n1==0):
  print("0")
if(n2==1):
  print("1")
for i in range(2,a):
  n3 = n1+n2
  n1=n2
  n2=n3
  print(n3)

enter the number :10
0
1
1
2
3
5
8
13
21
34

In [ ]:
#discount and payments problem
n=int(input("Enter the number of products:"))

discount=0
discount_amount=0
total_amount=0
payable_amount=0

for i in range(1,n+1):
    products=int(input("Enter the product price:"))
    total_amount+=products

if(total_amount>1500):
    discount=discount+10
elif(total_amount>1000 and total_amount <1500):
    discount+=5
else:
    discount+=0

discount_amount=total_amount*discount/100
payable_amount=total_amount-discount_amount

print("Welcome to supermarket")
print("**********************")
print("Total Items you purchased are:",n)
print("Total Amount:",total_amount)
print("discount: ",discount_amount)
print("Payable Amount:",payable_amount)
print("***********************")
print("Thank You! Visit again")

Enter the number of products:3
Enter the product price:6000
Enter the product price:5000
Enter the product price:4000
Welcome to supermarket
**********************
Total Items you purchased are: 3
Total Amount: 15000
discount:  1500.0
Payable Amount: 13500.0
***********************
Thank You! Visit again

In [3]:
# program using  nested if_else statements for cracking interview

marks = int(input("enter the marks:"))

if(marks>=40):
    print("you are qualified for 2nd round")

    marks = int(input("enter the marks of round 2nd round:"))
    if(marks>=40):
        print("you are qualified for 3rd round")
        marks = int(input("enter the marks of 3rd round:"))
        if(marks>=40):
            print("you cracked the interview MR. Rishi,congrats we see you soon on the onboarding day ")
        else:
            print("just missed it,better luck next time:")

    else:
        print("sorry ,better luck next time")



else:
    print("sorry you are not qualified ")

enter the marks:45
you are qualified for 2nd round
enter the marks of round 2nd round:48
you are qualified for 3rd round
enter the marks of 3rd round:50
you cracked the interview MR. Rishi,congrats we see you soon on the onboarding day

In [4]:
#program to take list as user input from the user
patient_details = []
for i in range(5):
  k =input("enter the name: ")
  patient_details.append(k)

print(patient_details)

enter the name: hello
enter the name: rishi
enter the name: kumar
enter the name: reddy
enter the name: sane
['hello', 'rishi', 'kumar', 'reddy', 'sane']

In [1]:
#getting patient details and reffering him to the doctor and suggest the tablets
ptname=input("Enter the ptname:")
ptage=int(input("Enter the age:"))
ptgen=input("Gender:")
ptwt=int(input("Enter the weight:"))
ptprob=input("Enter the problem:")
list_patient_data=[]
list_patient_data.append(ptname)
list_patient_data.append(ptage)
list_patient_data.append(ptgen)
list_patient_data.append(ptwt)
list_patient_data.append(ptprob)

doctors=["alex(MBBS general medicine)","alin(MBBS general surgeon","polina(MD gastro)"]

doctors_list=""
if(list_patient_data[4]=="fever"):
    doctors_list=doctors_list+doctors[0]
elif(list_patient_data[4]=="stomach"):
    doctors_list+=doctors[2]
else:
    doctors_list+=doctors[1]


fever_medici=["dolo-650","clavam","aceclofenac","thiamine"]
headache_medici=["sinrest","dolopar"]
stomach_medici=["meptalpas","cyclopam","zintac","rantac"]

tablets=[]
if(list_patient_data[4]=="fever"):
    tablets=tablets+fever_medici
elif (list_patient_data[4]=="headache"):
    tablets=tablets+headache_medici
else:
    tablets=tablets+stomach_medici

print("**************************************************************************************************************************")


print(" please visit hospital:                                              XYZ HOSPITAL                                         ")

print("Patient Name: ",list_patient_data[0],"  ","Gender: ",list_patient_data[2],"  ","Age: ",list_patient_data[1],"  ","Weight: ",list_patient_data[3])
print("")
print(" ")
print("Ref Doctor: ",doctors_list)
print(" ")
print("Description: ",list_patient_data[4])
print(" ")
print(tablets,"\n")  # prints list
print(*tablets,"\n") #prints string
print(" ")
print("Next vist: visit after 5 days")
print("")
print("Thank you! :)")

print("**************************************************************************************************************************")

Enter the ptname:great
Enter the age:22
Gender:M
Enter the weight:70
Enter the problem:fever
**************************************************************************************************************************
 please visit hospital:                                              XYZ HOSPITAL
Patient Name:  great    Gender:  M    Age:  22    Weight:  70


Ref Doctor:  alex(MBBS general medicine)

Description:  fever

['dolo-650', 'clavam', 'aceclofenac', 'thiamine']

dolo-650 clavam aceclofenac thiamine


Next vist: visit after 5 days

Thank you! :)
**************************************************************************************************************************

In [25]:
def greet():
    print("Welcome to the bank! Please open your new account and benefit from our services :)")

curr_balance = 1000

def deposit(n):
    global curr_balance  # Accessing the global variable
    curr_balance += n
    print("Amount deposited successfully. Your current balance is:", curr_balance)

def withdraw(m):
    global curr_balance  # Accessing the global variable
    if curr_balance >= m:
        curr_balance -= m
        print("Amount withdrawn successfully. Your current balance is:", curr_balance)
    else:
        print("Sorry, there are insufficient funds in the account.")

# Example usage
greet()
deposit(500)
withdraw(200)

Welcome to the bank! Please open your new account and benefit from our services :)
Amount deposited successfully. Your current balance is: 1500
Amount withdrawn successfully. Your current balance is: 1300